# Cache et métadonnées Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Fichiers notebooks inutiles
.ipynb_checkpoints/

# Environnement virtuel
venv/
.reco/  # ou le nom exact de ton env virtuel

# Fichiers lourds ou sensibles
*.pickle
*.pkl
*.csv

# Local Azure config
local.settings.json